.animated-card {
    width: 250px;
    flex-direction: column;
    gap: .6rem;
    background-color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    padding: 2.5rem 5rem;
    border-radius: .7rem;
    transform-origin: center;
    transition: all 400ms linear;
}

.animated-card span {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2;
}

.animated-card p {
    font-weight: 600;
}

.animated-card:hover {
    background-color: transparent;

    border: 2px solid var(--color-primary);
}
.animated{
    justify-content: space-evenly;
    padding: 8rem 2rem;
    gap: 2rem;
}