header {
    position: fixed;
    top: 150px;
    margin-left: 2rem;
    z-index: 1000;
}

.navbar {
    padding: 1.5rem;
    width: 260px;
    background-color: rgb(255 255 255 / 13%);
    border: 1px solid rgba(255, 255, 255, 0.326);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.311);
    backdrop-filter: blur(20px);
    border-radius: .5rem;
}

.menu-btn {
    justify-content: flex-end;
}

.menu-toggle {
    padding: .4rem .6rem;
    border-radius: .5rem;
    background-color: transparent;
    cursor: pointer;
    backdrop-filter: blur(30px);
}

.menu-toggle:hover {
    background-color: rgba(255, 255, 255, 0.464);
}

.nav-profile-image {
    width: 10rem;
    border-radius: 50%;
    box-shadow:0px 0px 10px var(--color-primary);
}

.nav-profile-image img {
    width: 100%;
}

.profile-section {
    flex-direction: column;
    padding-top: 3rem;
}

.nav-items {
    padding-top: 5rem;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 0rem;
}

ul li {
    width: 100%;
}

.link {
    width: 100%;
    justify-content: start;
    gap: 2rem;
    margin: .5rem 0rem;
    padding: 1rem;
    border-radius: .5rem;
    transition: all 400ms linear;
}

a span {
    font-size: 2rem;
}


.link:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.447);
    backdrop-filter: blur(20px);

}

.active {
    background-color: var(--color-primary);
}

/* #ff6890y
 */